/* GLOBAL BUTTON BASE STYLE */
.answer-button {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-cursor: hand;
    -fx-text-fill: #3E7C2B;
}

/*  DEFAULT COLOUR PALETTE */
.answer-a, .answer-d {
    -fx-background-color: #E7FF76;
}

.answer-b, .answer-c {
    -fx-background-color: #6DBE45;
}

/* CORRECT ANSWER HIGHLIGHT */
.correct-answer {
    -fx-background-color: #A8FF7A;
    -fx-text-fill: #2E6A1F;
    -fx-opacity: 1.0;
}

/* DISABLED WRONG ANSWERS */
.wrong-answer {
    -fx-opacity: 0.4;
}

/* EXPLANATION LABEL*/
.explanation-correct {
    -fx-background-color: #ECFCE3;
    -fx-font-size: 20px;
}

.explanation-wrong {
    -fx-background-color: #FFC2C2;
    -fx-font-size: 20px;
}